body {
    margin: 0;
}

.header-logo {
    display: flex;
    h3 {
        text-decoration: none;
    }
}

.pd-70 {
    padding-left: 70px;
    padding-right: 70px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
